.App {
  /* text-align: center; */
}

.App-left-half {
  position: absolute;
  width: 48vw;
  height: 98vh;
  margin-top: 0;
  margin-left: 1vw;
  border: 1px solid lightgray;
  height: 98vh;
  overflow: scroll;
}

.App-right-half {
  position: absolute;
  width: 48vw;
  height: 98vh;
  margin-top: 0;
  margin-left: 51vw;
  border: 1px solid lightgray;
}
